<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OpenLab: About us</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<%- include _templates/header.ejs %>

<div class="section">
  <div class="cont">
    <h2>Our Story:</h2>
    <p>
    OpenLab was started in 2014 based on the observation that scientists spend most of their time trying to overcome a hurdle in lab. Yet, so often, when they run into their colleagues in the hallway and express their frustrations, the colleague has the answer! So we asked ourselves, why doesn’t this happen more often?
    </p>
    <p>
    As a scientist, Rishabh had been in both academic and industry settings in the past and had noticed that the key problem was that labs are not designed for social interaction, they are designed to do science. As such, instruments are located far apart, often intentionally to prevent cross contamination, and desks are isolated. This lack of interaction is aggravated by very infrequent meetings, a general introverted personality type, and often a lack of comfort in speaking a common language. Academics have the addition burden of needing to travel often to conferences and talks, especially if they are faculty members.
    </p>
    <p>Having noticed all of these issues, we came up with what at first was a simple idea, a social tool to enable scientists to instantly upload, share and comment on research progress of their peers. As we worked on this idea and engaged more with customers, we realized that we have the potential to become integral to the entire research process.
    </p>
    <h2>Vision:</h2>
    <p>We envision a future where science is perfectly reproducible and scientists can instantly receive solutions to problems as they occur in a lab.
    </p>
    <h2>Mission:</h2>
    <p>OpenLab’s mission is to create the best product suite available to a lab that enables the fastest possible progress in science.
    </p>
    <h2>Goals:</h2>
    <ul>
      <li>Create the best social platform for research labs</li>
      <li>Enable faster research progress, results and publications for our customers</li>
      <li>Use technology to build an intelligent network of scientific insights and automate science</li>
    </ul>
  </div>
</div>
<script id="live-reload" src="http://localhost:35729/livereload.js"></script>
<script src="app.js"></script>
</body>
</html>