<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OpenLab - Social Tools to Accelerate Scientific Productivity</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<%- include _templates/header.ejs %>


<div class="hero">
  <%- include _templates/hero_video.ejs %>
  <div class="cont">
    <div class="logo-cont">
      <img src="img/openlab_white_hero.png"/>

    </div>
    <div class="lead">
      Social Tools to Accelerate Scientific Productivity
    </div>
    <div class="invite-request">
      <%- include _templates/signup-form.ejs %>
    </div>
  </div>
</div>
<div class="section">
  <div class="cont">
    <div class="lead">
      Effectively draw on the knowledge of your colleagues to accelerate the rate of your research
    </div>
    <div class="columns three">
      <div class="column">
        <img class="icon" src="/img/lock.png"/>
        <p>
          Your data is secure and only shared with the people you choose within your lab
        </p>
      </div>
      <div class="column">
        <img class="icon" src="/img/loupe.png"/>
        <p>
         Search through your lab’s data by keyword, project, or instrument. The fastest way to get relevant information!
        </p>
      </div>
      <div class="column">
        <img class="icon" src="/img/phone.png"/>
        <p>
          Upload and view your own and your lab’s data anytime, anywhere.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="section dark">
  <div class="cont">
    <div class="lead">
      The entire lab benefits
    </div>
    <div class="columns three">
      <div class="column">
        <h2 class="sublead">
          Lab Members
        </h2>
        <p>
          Get help when you need it the most. Simply post your data as you collect it and watch as your peers and PI contribute to help you in a fix! At the same time, instead of playing Candy Crush on the T, scroll through your lab's data and contribute any time, any place!
        </p>
      </div>
      <div class="column">
        <h2 class="sublead">
          Lab Head / PI
        </h2>
        <p>
          We understand how busy you are. OpenLab enables you to quickly and easily view your lab's progress. Easily give input to help your lab members overcome critical problems.
        </p>
      </div>
      <div class="column">
        <h2 class="sublead">
          Collaborations
        </h2>
        <p>
          OpenLab enables you to invite collaborators from outside your lab to only your collaborative project. They only view the relevant data stream. Thereby enabling more fluid and transparent communication in your collaborations.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="cont">
    <div class="lead">
      Currently in private alpha
    </div>
    <div class="columns three">
      <div class="column">
        <h2 class="sublead">Request Access</h2>
        <p>
          We will soon be expanding our product to more labs. If you are eager to try Open Lab, contact us directly.
        </p>
      </div>
      <div class="column">
        <h2 class="sublead">Partnerships</h2>
        <p>
         We are interested in partnerships with other institutions and companies who have the same goal of accelerating science. If you are  a publisher, scientific society, or another institute that believes we can push science together, please contact us.
        </p>
      </div>
      <div class="column">
        <h2 class="sublead">Contact us</h2>
        <p>
          contact [at] openlabapp [dot] com
        </p>
      </div>
    </div>
  </div>
</div>

<script id="live-reload" src="http://localhost:35729/livereload.js"></script>
<script src="app.js"></script>
</body>
</html>