<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OpenLab: The team</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<%- include _templates/header.ejs %>

<div class="section">
  <div class="cont">
    <h2 class="lead">Meet the team</h2>
    <div class="columns three">
      <div class="column">
        <h2 class="sublead">Rishabh Jain</h2>
        <img class="mugshot" src="/img/rishabh.jpg"/>
        <h3 class="sublead">CEO</h3>
        <ul>
          <li>PhD Candidate at MIT (’15)</li>
          <li>Co-Founded a solar startup, Invisergy</li>
          <li>Nominated College Entrepreneur of the Year by Entrepreneur Magazine</li>
        </ul>
      </div>
      <div class="column">
        <h2 class="sublead">Benedikt Lotter</h2>
        <img class="mugshot" src="/img/benedikt.jpg"/>
        <h3 class="sublead">VP Product</h3>
        <ul>
          <li>Student at UPenn (’16)</li>
          <li>Product Management at Opower</li>
          <li>Co-Founded GreenVote, energy efficiency startup</li>
        </ul>
      </div>
      <div class="column">
        <h2 class="sublead">Dario Villanueva</h2>
        <img class="mugshot" src="/img/dario.jpg"/>
        <h3 class="sublead">VP Engineering</h3>
        <ul>
          <li>MA in Cognitive Science</li>
          <li>10 years of industry experience</li>
          <li>Worked for 3 VC funded startups</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script id="live-reload" src="http://localhost:35729/livereload.js"></script>
<script src="app.js"></script>
</body>
</html>