    <div class="bubbles-cont">
      <svg class="bubbles">
        <g class="graphic" transform="translate(0,500)">
          <g class="beaker">
            <path d="M500.547,680.959H68.188c-7.006,0-12.012-3-15.011-7.002c-3.005-5.005-3.005-11.013,0.998-17.013
              l158.133-299.252c5.004-10.01,9.007-27.021,9.007-38.027V164.533c0-14.012,11.009-25.016,25.021-25.016h71.061
              c14.013,0,25.018,11.003,25.018,25.016v155.132c0,11.006,4.003,28.018,10.01,38.027L514.56,656.944c3,6,4.004,12.008,1.004,17.013
              C512.562,677.959,507.558,680.959,500.547,680.959z M246.337,147.521c-10.011,0-17.017,8.004-17.017,17.011v155.132
              c0,12.007-5.001,31.025-10.005,42.03L60.184,659.945c-2.006,4.001-2.006,7.002-1.002,10.009c1.002,1.998,5.004,4.003,9.007,4.003
              h432.358c4.004,0,7.011-1.004,9.007-4.003c1.004-2.005,1.004-6.008-1.001-9.007l-163.13-299.252
              c-6.007-11.005-11.013-29.019-11.013-41.035V164.533c0-10.009-8.004-17.011-17.013-17.011H246.337z"/>
          </g>
          <g class="liquid">
            <path d="M292.373,438.761h-42.034v-1.004c-3.003-9.007-11.008-15.006-20.017-15.006
              c-9.007,0-17.011,6-20.016,15.006v1.004h-35.031v-4.003h32.028c4.001-10.01,13.01-16.01,23.019-16.01
              c10.011,0,20.017,6,23.021,16.01h35.027c1.002-15.015,13.01-27.022,29.027-27.022c15.017,0,28.025,12.007,29.021,27.022h45.037
              v4.003h-48.038v-1.998c0-14.012-11.003-25.026-25.016-25.026c-14.012,0-25.026,11.014-25.026,25.026v1.998H292.373z"/>
          </g>
          <g class="bubble b2">
            <path d="M313.396,386.721c-12.016,0-22.021-10.011-22.021-22.019c0-12.016,10.005-22.025,22.021-22.025
              c12.007,0,22.017,10.009,22.017,22.025C335.413,377.714,325.403,386.721,313.396,386.721z M313.396,347.683
              c-10.011,0-18.015,8.013-18.015,18.016c0,10.009,8.004,18.014,18.015,18.014c10.01,0,18.014-8.004,18.014-18.014
              C331.41,355.696,323.406,347.683,313.396,347.683z"/>
          </g>
          <g class="bubble b3" >
            <path d="M256.342,302.645c-9.007,0-16.009-7.002-16.009-16.01c0-9.007,7.002-16.018,16.009-16.018
              s16.015,7.011,16.015,16.018C272.357,295.643,265.349,302.645,256.342,302.645z M256.342,275.623
              c-7.002,0-12.007,5.005-12.007,12.016c0,7.002,5.005,12.007,12.007,12.007c7.006,0,12.012-5.005,12.012-12.007
              C268.354,280.628,263.349,275.623,256.342,275.623z"/>
          </g>
          <g class="bubble b4" >
            <path d="M283.365,238.6c-12.006,0-22.017-10.011-22.017-22.027c0-12.007,10.011-22.017,22.017-22.017
              c12.016,0,22.025,10.009,22.025,22.017C305.39,228.588,295.381,238.6,283.365,238.6z M283.365,198.559
              c-10.005,0-18.016,8.012-18.016,18.014c0,10.011,8.01,18.016,18.016,18.016c10.011,0,18.015-8.004,18.015-18.016
              C301.38,206.57,293.375,198.559,283.365,198.559z"/>
          </g>
          <g class="bubble b5" >
            <path d="M308.391,165.537c-18.02,0-33.03-15.016-33.03-33.03c0-18.015,15.011-33.03,33.03-33.03
              c18.016,0,33.03,15.015,33.03,33.03C341.421,150.521,326.406,165.537,308.391,165.537z M308.391,104.481
              c-16.018,0-29.027,13.009-29.027,29.026c0,16.01,13.01,29.021,29.027,29.021c16.009,0,29.019-13.01,29.019-29.021
              C337.409,117.49,324.399,104.481,308.391,104.481z"/>
          </g>
          <g class="bubble b6">
            <path d="M233.327,90.468c-14.012,0-25.021-11.004-25.021-25.017c0-14.013,11.009-25.017,25.021-25.017
              c14.008,0,25.02,11.004,25.02,25.017C258.347,79.463,247.335,90.468,233.327,90.468z M233.327,44.437
              c-12.012,0-21.019,10.002-21.019,21.015s10.009,21.014,21.019,21.014c11.008,0,21.015-10.001,21.015-21.014
              S245.333,44.437,233.327,44.437z"/>
          </g>
          <g class="bubble b7">
            <path d="M320.398,75.461c-9.007,0-17.013-8.004-17.013-17.012s8.006-17.021,17.013-17.021
              s17.011,8.013,17.011,17.021S329.405,75.461,320.398,75.461z M320.398,44.437c-7.002,0-13.01,5.999-13.01,13.01
              c0,7.002,6.008,13.01,13.01,13.01c7.011,0,13.01-6.008,13.01-13.01C333.408,50.436,327.409,44.437,320.398,44.437z"/>
          </g>
        <g/>
      </svg>
    </div>