<div class="navbar navbar-fixed">
  <div class="logo-nav">
    <a href="/">
      <img src="img/openlab_logo2.png"/>
    </a>
  </div>

  <ul class="nav">
    <li><a href="about.html">About</a></li>
  </ul>
  <ul class="nav">
    <li><a href="http://blog.openlabapp.com/">Request Invite</a></li>
  </ul>
  <ul class="nav">
    <li><a href="http://blog.openlabapp.com/">Blog</a></li>
  </ul>
  <ul class="nav">
    <li><a href="team.html">Team</a></li>
  </ul>
</div>