@bgColor: #212b39;
@bgGradientStart: darken(@bgColor, 5%);
@bgGradientStop: darken(@bgColor, 20%);

@callToActionBG: cyan;
//@callToActionBG: orange;
@callToActionHover: ligthen(@callToActionBG, 15%);


@contWidth: 980px;
@heroHeight: 600px;
@heroHeightS: 400px;
@heroHeightL: 700px;


@import url(http://fonts.googleapis.com/css?family=Raleway:500,700,400,300,200);
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);


.dark-background {
  background: @bgGradientStop; /* Old browsers */
  background: -moz-linear-gradient(top, @bgGradientStart 0%,  @bgGradientStop 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @bgGradientStart), color-stop(100%, @bgGradientStop)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, @bgGradientStart 0%, @bgGradientStop 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, @bgGradientStart 0%, @bgGradientStop 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, @bgGradientStart 0%, @bgGradientStop 100%); /* IE10+ */
  background: linear-gradient(to bottom, @bgGradientStart 0%, @bgGradientStop 100%); /* W3C */
}

* {
  box-sizing: border-box;
}


body {
  margin: 0;

  color: black;

  font-family: Raleway, Helvetica, arial, sans-serif;

  background: white;

}

.hero {
  margin-top: 60px;
  .dark;
  text-shadow: 0px 0px 2px #333;
  position: relative;
  height: @heroHeight;
  @media screen {
    @media (max-width:767px) {
      height: @heroHeightS;
    }
    @media (min-width:1280px) {
      height: @heroHeightL;
    }
  }
}

video#banner {
  display: inline-block;
  width: 100%;
  position: absolute;
  bottom: 0;
  object-fit: cover;
  @media screen {
    @media (max-width:1080px) {
      height: 100%;
      width: auto;
    }
  }
}

.section, .cont {
  padding: 60px 0;
}


.dark {
  .dark-background;
  color: white;
}

.cont {
  margin: auto;
  position: relative;
  max-width: @contWidth;
  // border-left: 1px dashed white;
  // border-right: 1px dashed white;
  // border-top: none;
  // border-bottom: none;
  height: 100%;
}

.navbar {
  height: 60px;
  width: 100%;
  background: @bgColor;
  z-index: 20;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row; /* works with row or column */
  flex-direction: row;
  margin-bottom: 60px;
  box-shadow: 0 0 5px darken(@callToActionBG, 0%);
}


.navbar-fixed {
  position: fixed;
  margin-bottom: 60px;
  top: 0;
  left: 0;
}

ul.nav {

  font-family: Raleway;
  padding-left: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row; /* works with row or column */
  flex-direction: row;
  margin-left: 0;
  font-size: 14pt;
  list-style: none;
  li {

    padding: 0 20px;

    a {
      color: #ccc;
      font-weight: 200;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        font-weight: 400;
        color: @callToActionBG;
      }
    }

  }

}

.lead {
  font-weight: 300;
  font-size: 25pt;
  text-align: center;
  margin-bottom: 40px;
  @media screen {
    @media (max-width:767px) {
      font-size: 18pt;
    }
  }
}

.invite-request {
  margin-top: 40px;
  width: 100%;
  text-align: center;

  font-family: Raleway;


  p.emailInput input {
    width: 280px;
    border-radius: 5px;
    font-size: 18pt;
    line-height: 32px;
    text-align: center;
    font-family: Raleway;
  }

  .request {
    cursor: hand;
    cursor: pointer;
    font-family: Raleway;
    display: inline-block;
    position: relative;
    line-height: 30px;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18pt;
    background-color: rgba(66,66,66,0.5);

    color: white;
    border: none;
    // -webkit-animation-name: callToActionPulse;
    // -webkit-animation-duration: 5s;
    // -webkit-animation-iteration-count: infinite;

    &:hover, &:focus {
      border-color: #676c6e;
      border-bottom-color: #444749;
      background-color: rgba(0,0,0, 0.75);

    }

  }

}


@-webkit-keyframes callToActionPulse {
  from { background-color: darken(@callToActionBG, 10%); box-shadow: 0 0 9px darken(@callToActionBG, 10%); }
  50% { background-color: darken(@callToActionBG, 0%); box-shadow: 0 0 18px darken(@callToActionBG, 0%); }
  to { background-color: darken(@callToActionBG, 10%); box-shadow: 0 0 9px darken(@callToActionBG, 10%); }
}


img.icon {
  width: 100px;
}



.bubbles-cont {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1200px;
}

.logo-cont {
  width: 80%;

  margin: auto;
  margin-top: 100px;
  @media screen {
    @media (max-width:767px) {
      margin-top: 30px;
    }

  }
  img {
    width: 100%;
  }

  text-align: center;

  // svg {
  //  -webkit-filter: drop-shadow( 0 0 2px #333 );
  //           filter: drop-shadow( 0 0 2px #333 ); /* Same syntax as box-shadow */
  //   width: 650px;
  //   margin: auto;
  //   height: auto;
  //   fill: white;
  //   @media screen {
  //     @media (max-width: 768px) {
  //       width:
  //     }
  //   }

  // }
}


.logo-nav {
  width: 125px;

  padding: 20px 20px;

  img {
    width: 100%;
  }
}



.columns {
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row; /* works with row or column */
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;

  &.two > .column {
    width: 40%;
  }

  &.three > .column {
    width: 30%;
  }

  .column {
    margin: 10px;
  }

}

.mugshot {
  border-radius: 171px;
  width: 171px;
}

.column ul {
  text-align: left;
}



